<div class="center jumbotron">
  <h1>Welcome to the Ruby on Rails Forum</h1>

  <h2>
    This is the home page for the Ruby on Rails Forum.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>